@import 'antd/dist/antd.css';

body {margin: 0; overflow: hidden; height: 100vh;}

@media all and (max-width: 560px) {
    .Preview {
        display: none;
    }
}

.authorization {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 300px;
}
