@import 'antd/dist/antd.css';

@media all and (max-width: 560px) {
    .Preview {
        display: none;
    }
}

.AlertWrapper div {
    max-width: 500px;
    margin: 60px 120px 10px 0px;
    border-radius: 16px;
    width: 332px;
    position: absolute;
    left: 1px;
}

.FormWrapper {
    padding: 30px 30px 0px 30px;
    border-radius: 30px;
    background-color: #fff;
    height: 408px;
    max-width: 332px;
    position: relative;
}

.FormWrapper span {
    border-radius: 8px;
    padding: 4px;
}

.FormWrapper p {
    font-weight: 500;
}

.ButtonWrapper button {
    text-align: center;
    border-radius: 8px;
    min-width: 272px;
    max-height: 40px;
}

.ButtonWrapper span {
    display: inline;
    font-weight: 400;
    padding-bottom: 5px;
}

.ButtonWrapper button:hover {
    opacity: .4
}

.phoneNumber {
    color:#1890FF;
}

.Preview {
    margin-top: 10px;
    display: flex;
    margin-left: 250px;
    font-size: 12px;
}

.Preview h1 {
    font-weight: 500;
}

.Preview p {
    font-size: 18px;
    color: #858080;
}

.Preview img {
    padding: 10px 10px;
}